.header {
  padding: 12px 0;

  &__title {
    color: $orange;
    text-align: center;
    font-size: 32px;
    @media (min-width: $breakpoint-medium) {
      font-size: 48px;
    }
    font-weight: 700;
  }
}
